@page "/GameBoard"
@using Logic

<PageTitle>Ultimate-tic-tac-toe Game</PageTitle>

<link rel="stylesheet" href="/css/gameboard.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">

<body>
    <nav class="navbar">
        <button class="back-button" @onclick="NavigateToStartGame">
            <span class="material-icons">arrow_back</span>
        </button>
        <h1>Ultimate Tic Tac Toe</h1>
        <div class="spacer"></div>
    </nav>

    <div class="player-indicator">
        Player <span class="@(game.NextPlayer == Players.X ? "player-x" : "player-o")">@game.NextPlayer</span>'s Turn
    </div>

    <div class="ultimate-board" id="ultimate-board">
        @foreach (var boardIndex in GetAllBoardIndices())
        {
            <div class="@GetSubBoardClasses(boardIndex)" data-index="@((int)boardIndex)">
                @foreach (var cellIndex in GetAllCellIndices())
                {
                    <div class="@GetCellClasses(boardIndex, cellIndex)"
                         data-index="@((int)cellIndex)"
                         @onclick="() => HandleCellClick(boardIndex, cellIndex)">
                        @GetCellContent(boardIndex, cellIndex)
                    </div>
                }
            </div>
        }
    </div>

    <!-- Result Modal -->
    @if (ShowResultModal)
    {
        <div class="modal show" id="resultModal">
            <div class="modal-content">
                <h2 id="resultTitle">@ResultTitle</h2>
                <p id="resultMessage">@ResultMessage</p>
                <button @onclick="ResetGame" class="play-again-btn">Play Again</button>
            </div>
        </div>
    }
</body>
